#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
  margin: 4rem 0;
  position: relative;
}

.component-wrapper {
  position: relative;
  margin: 0 auto;
}
